# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.ConsoleApplication.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\LearnCS\ConsoleApplication\.idea\.idea.ConsoleApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
